.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.btn {
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn-primary {
    background: var(--primary);
    color: var(--secondary);
}

.btn-primary:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-secondary {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary:hover {
    background: var(--primary);
    color: var(--secondary);
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.btn-ternary {
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn-ternary {
    background: transparent;
    color: blue;
    border-color: var(--primary);
}

.btn-ternary:hover {
    background: var(--primary);
    color: var(--secondary);
}

.btn-fourth {
    padding: 0.1rem 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
    margin-right: o.5rem;
}

.btn-fourth {
    background: transparent;
    color: indigo;
    border-color: var(--primary);
}

.btn-fourth:hover {
    background: var(--primary);
    color: var(--secondary);
}